*.iml
.gradle
/local.properties
/.idea
.kotlin
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/build-logic/checks/build
/build-logic/develop-properties/build
/build-logic/gradle-ext/build
CLAUDE.md
/app/google-services.json
